@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Gaegu:wght@700&family=Lato&family=Lobster&family=Merriweather:wght@900&family=Nanum+Myeongjo&family=Ubuntu&display=swap');

/* reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #313132;
}
button {
	background: none;
	border: 0 none;
}


body {
	display: flex;
	justify-content: center;
	padding: 48px 0;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	background-color: rgba(0,0,0,0.05);
	overflow-x: hidden;
}
.cloud1{
	position:fixed;
	top:50px;
	left:-100px;
	animation: cloud1 27s ease-in-out infinite;
	z-index: -1;
	width:130px;
}
.cloud2{
	position:fixed;
  	top:500px;
 	right:-200px;
 	animation:cloud2 30s ease-in-out infinite;
	animation-delay: 2s;
 	z-index: -1;
    width:180px;
}
.cloud3{
	position:fixed;
	top:800px;
	left:-200px;
	animation: cloud1 30s ease-in-out infinite;
	animation-delay: 5s;
	z-index: -1;
	width:150px;
}
@keyframes cloud1{
	0%{
	  transform : translateX(-50px);
	}
	100%{
	  transform : translateX(2300px);
	}
  }
  @keyframes cloud2{
	0%{
	  transform : translateX(50px);
	}
	100%{
	  transform : translateX(-2300px);
	}
  }


main {
	width: 540px;
	background: white;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

/*header*/
h1{
	font-family: 'Lobster', cursive;
	width: 100%;
	height: 56px;
	text-align: center;
	line-height: 52px;
	background-color: #313132;
	color:white;
	font-size: 24px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

/*newDiscussion*/
h2 {
	margin: 8px 0;
	font-size: 25px;
	font-weight: bold;
	color: #313132;
}

/* 질문 영역 */
.form__container {
	padding: 32px 16px;
}
label {
	display: block;
	margin-top: 12px;
	font-size: 12px;
	font-weight: 400;
	color: #666666;
}
input,
textarea,
button {
	display: block;
	width: 100%;
	height: 48px;
	padding: 0 16px;
	margin-top: 8px;
	border-radius: 4px;
	border: 1px solid #dddddd;
	font-family: "Noto Sans KR";
	font-size: 16px;
	color: black;
}

textarea {
	height: 96px;
	padding: 16px;
	resize: none;
}
input:focus,
textarea:focus{
	outline:none;
	border: 3px solid rgba(0,113,227,1);
}

/*submit버튼*/
.form__submit {
	margin-top: 16px;
}
.form__submit button {
	background-color: rgba(0,113,227,1);
	border: none;
	color: white;
	box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
	font-weight: 500;
}
.form__submit button:hover{
    cursor: pointer;
    background-color: rgba(0,113,227,0.8);
}


/* 질문 목록 영역 */
.clickDown:hover{
	cursor: pointer;
	border: 3px solid #313132;
}
/*ul*/
.discussions__wrapper {
	width:100px;
}
/*li*/
.discussion__wrapper h2 {
	padding: 0 16px;
}
.discussion__container {
	display: flex;
	align-items: center;
	padding: 16px;
	border-bottom: 1px solid #dddddd;
}
.discussion__avatar--wrapper {
	flex-shrink: 0;
	width: 48px;
	height: 48px;
	margin-right: 16px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #9e9e9e;
}
.discussion__avatar--wrapper > img {
	width: 100%;
}
.discussion__content {
	width: calc(100% - 104px);
	margin-right: 16px;
}
.discussion__title {
	width: 100%;
	line-height: 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 16px;
	font-weight: 500;
}
.discussion__information {
	width: 100%;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
	font-weight: 300;
	color: #666666;
	display: flex;
	align-items: baseline;
}
.deleteBtn{
	font-size: 9px;
	width:30px;
	height: 20px;
	padding: 0;
	margin: 0px;
	margin-left: 5px;
}
.deleteBtn:hover{
	cursor: pointer;
	background-color: #313132;
	color:white;
}

.discussion__answered {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	margin-left: auto;
	line-height: 24px;
	
}

/* 페이지네이션 */
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 32px 0;
}
.pagination > button {
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	border-radius: 4px;
}
.pagination > button:hover {
	background-color: rgba(0,113,227,0.8);
}
.pagination > button.active {
	background-color: rgba(0,113,227,1);
	color: white;
}


/*첫화면 로고띄우기*/
@keyframes hideSplashScreen{
	0%{
		opacity: 1;
		
	}
	25%{
		opacity: 1;
	}
	50%{
	  opacity: 1;
	}
	75%{
	  opacity: 1;
	}
	100%{
	  opacity: 0;
		visibility: hidden;
	}
  }
  .splash-screen{
	background-color: #313132;
	color:#d6d6d6;
	text-align: center;
	padding-top: 300px;
	position: absolute;
	top:0;
	left:0;
	z-index: 99;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	font-family: 'Lobster', cursive;
	animation: hideSplashScreen 1s ease-in-out forwards;
  }

/*질문 보기를 클릭하면 사라지고 닫기를 클릭해서 추가되는 클래스*/
.hidden{
	height: 0px;
	visibility: hidden;
}

/*질문보기/닫기를 클릭하면 body padding이 줄어듦으로 추가하는 클래스*/
.paddingLeft{
	padding-left: 17px;
}